/* line 15, ../../../app/stylesheets/base.sass */
* {
  margin: 0;
  padding: 0; }

/* line 19, ../../../app/stylesheets/base.sass */
body {
  font-size: 12px;
  font-family: sans-serif; }
  /* line 23, ../../../app/stylesheets/base.sass */
  body .clear {
    clear: both;
    height: 0; }
  /* line 27, ../../../app/stylesheets/base.sass */
  body h1 {
    margin: 15px 0;
    font-size: 22px;
    font-weight: normal; }
  /* line 32, ../../../app/stylesheets/base.sass */
  body h2 {
    font-size: 22px;
    margin: 15px 0;
    font-weight: normal; }
  /* line 37, ../../../app/stylesheets/base.sass */
  body h3 {
    font-size: 18px;
    margin: 10px 0;
    font-weight: normal; }
  /* line 42, ../../../app/stylesheets/base.sass */
  body h4 {
    font-size: 16px;
    margin: 10px 0;
    font-weight: normal; }
  /* line 47, ../../../app/stylesheets/base.sass */
  body hr {
    height: 1px;
    border: 0; }
  /* line 51, ../../../app/stylesheets/base.sass */
  body p {
    margin: 15px 0; }
  /* line 54, ../../../app/stylesheets/base.sass */
  body a img {
    border: none; }
  /* line 57, ../../../app/stylesheets/base.sass */
  body #container {
    min-width: 960px; }
    /* line 60, ../../../app/stylesheets/base.sass */
    body #container #header {
      padding: 0 20px;
      position: relative;
      padding-top: 1px; }
      /* line 65, ../../../app/stylesheets/base.sass */
      body #container #header h1 {
        margin: 0;
        padding: 10px 0;
        font-size: 30px; }
        /* line 71, ../../../app/stylesheets/base.sass */
        body #container #header h1 a:link, body #container #header h1 a:active, body #container #header h1 a:hover, body #container #header h1 a:visited {
          text-decoration: none; }
      /* line 74, ../../../app/stylesheets/base.sass */
      body #container #header #user-navigation {
        position: absolute;
        top: 0px;
        right: 20px; }
        /* line 79, ../../../app/stylesheets/base.sass */
        body #container #header #user-navigation ul {
          margin: 0;
          padding: 0;
          list-style-type: none; }
          /* line 84, ../../../app/stylesheets/base.sass */
          body #container #header #user-navigation ul li {
            float: left;
            padding: 5px 10px; }
            /* line 89, ../../../app/stylesheets/base.sass */
            body #container #header #user-navigation ul li a:link, body #container #header #user-navigation ul li a:visited, body #container #header #user-navigation ul li a:hover, body #container #header #user-navigation ul li a:active {
              text-decoration: none; }
      /* line 92, ../../../app/stylesheets/base.sass */
      body #container #header #main-navigation {
        width: 100%; }
        /* line 95, ../../../app/stylesheets/base.sass */
        body #container #header #main-navigation ul {
          margin: 0;
          padding: 0;
          list-style-type: none; }
          /* line 100, ../../../app/stylesheets/base.sass */
          body #container #header #main-navigation ul li {
            float: left;
            margin-right: 5px; }
            /* line 104, ../../../app/stylesheets/base.sass */
            body #container #header #main-navigation ul li a {
              font-size: 15px;
              display: block;
              padding: 8px 15px; }
              /* line 109, ../../../app/stylesheets/base.sass */
              body #container #header #main-navigation ul li a:link, body #container #header #main-navigation ul li a:visited, body #container #header #main-navigation ul li a:hover, body #container #header #main-navigation ul li a:active {
                text-decoration: none; }
    /* line 113, ../../../app/stylesheets/base.sass */
    body #container #wrapper {
      padding: 0 20px;
      padding-top: 20px; }
      /* line 117, ../../../app/stylesheets/base.sass */
      body #container #wrapper #main {
        width: 70%;
        float: left; }
        /* line 121, ../../../app/stylesheets/base.sass */
        body #container #wrapper #main .block {
          margin-bottom: 20px;
          padding-top: 1px; }
          /* line 125, ../../../app/stylesheets/base.sass */
          body #container #wrapper #main .block .content .inner {
            padding: 0 15px 15px; }
        /* line 128, ../../../app/stylesheets/base.sass */
        body #container #wrapper #main .main p.first {
          margin-top: 0; }
        /* line 131, ../../../app/stylesheets/base.sass */
        body #container #wrapper #main #footer {
          padding-bottom: 20px; }
      /* line 134, ../../../app/stylesheets/base.sass */
      body #container #wrapper #sidebar {
        width: 25%;
        float: right; }
        /* line 138, ../../../app/stylesheets/base.sass */
        body #container #wrapper #sidebar h3 {
          padding: 10px 15px;
          margin: 0;
          font-size: 13px; }
        /* line 143, ../../../app/stylesheets/base.sass */
        body #container #wrapper #sidebar .block {
          margin-bottom: 20px;
          padding-bottom: 10px; }
          /* line 147, ../../../app/stylesheets/base.sass */
          body #container #wrapper #sidebar .block .content {
            padding: 0 15px; }
          /* line 150, ../../../app/stylesheets/base.sass */
          body #container #wrapper #sidebar .block .sidebar-block {
            padding: 10px; }
        /* line 153, ../../../app/stylesheets/base.sass */
        body #container #wrapper #sidebar ul.navigation {
          margin: 0;
          padding: 0;
          list-style-type: none; }
          /* line 159, ../../../app/stylesheets/base.sass */
          body #container #wrapper #sidebar ul.navigation li a:link, body #container #wrapper #sidebar ul.navigation li a:visited {
            display: block;
            padding: 10px 15px; }
        /* line 163, ../../../app/stylesheets/base.sass */
        body #container #wrapper #sidebar .notice {
          padding: 10px; }
    /* line 166, ../../../app/stylesheets/base.sass */
    body #container #box {
      width: 500px;
      margin: 50px auto; }
      /* line 170, ../../../app/stylesheets/base.sass */
      body #container #box .block {
        margin-bottom: 20px; }
        /* line 173, ../../../app/stylesheets/base.sass */
        body #container #box .block h2 {
          padding: 10px 15px;
          margin: 0; }
        /* line 177, ../../../app/stylesheets/base.sass */
        body #container #box .block .content {
          padding: 10px 20px; }
  /* line 180, ../../../app/stylesheets/base.sass */
  body .secondary-navigation {
    font-size: 13px;
    border-bottom-width: 10px;
    border-bottom-style: solid; }
    /* line 185, ../../../app/stylesheets/base.sass */
    body .secondary-navigation ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      /* line 190, ../../../app/stylesheets/base.sass */
      body .secondary-navigation ul li {
        float: left; }
        /* line 193, ../../../app/stylesheets/base.sass */
        body .secondary-navigation ul li a {
          display: block;
          padding: 10px 15px; }
          /* line 197, ../../../app/stylesheets/base.sass */
          body .secondary-navigation ul li a:link, body .secondary-navigation ul li a:visited, body .secondary-navigation ul li a:hover, body .secondary-navigation ul li a:active {
            text-decoration: none; }
  /* line 201, ../../../app/stylesheets/base.sass */
  body .pagination a {
    padding: 2px 5px;
    margin-right: 5px;
    display: block;
    float: left;
    border-style: solid;
    border-width: 1px;
    text-decoration: none; }
  /* line 210, ../../../app/stylesheets/base.sass */
  body .pagination span {
    padding: 2px 5px;
    margin-right: 5px;
    display: block;
    float: left;
    border-style: solid;
    border-width: 1px; }
    /* line 218, ../../../app/stylesheets/base.sass */
    body .pagination span.current {
      font-weight: bold; }
  /* line 222, ../../../app/stylesheets/base.sass */
  body .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px; }
    /* line 227, ../../../app/stylesheets/base.sass */
    body .table th {
      padding: 10px;
      font-weight: bold;
      text-align: left; }
      /* line 232, ../../../app/stylesheets/base.sass */
      body .table th.first {
        width: 30px; }
      /* line 235, ../../../app/stylesheets/base.sass */
      body .table th.last {
        width: 200px; }
    /* line 238, ../../../app/stylesheets/base.sass */
    body .table .checkbox {
      margin-left: 10px; }
    /* line 241, ../../../app/stylesheets/base.sass */
    body .table td {
      padding: 10px; }
      /* line 244, ../../../app/stylesheets/base.sass */
      body .table td.last {
        text-align: right; }
  /* line 248, ../../../app/stylesheets/base.sass */
  body input.checkbox {
    margin: 0;
    padding: 0; }
  /* line 254, ../../../app/stylesheets/base.sass */
  body .form .group {
    margin-bottom: 15px; }
  /* line 258, ../../../app/stylesheets/base.sass */
  body .form div.left {
    width: 20%;
    float: left; }
  /* line 262, ../../../app/stylesheets/base.sass */
  body .form div.right {
    width: 75%;
    float: right; }
  /* line 266, ../../../app/stylesheets/base.sass */
  body .form div.fieldWithErrors label.label {
    display: inline; }
  /* line 270, ../../../app/stylesheets/base.sass */
  body .form .columns .column {
    width: 48%; }
  /* line 273, ../../../app/stylesheets/base.sass */
  body .form .columns .left {
    float: left; }
  /* line 276, ../../../app/stylesheets/base.sass */
  body .form .columns .right {
    float: right; }
  /* line 280, ../../../app/stylesheets/base.sass */
  body .form label.label {
    font-size: 1.2em;
    padding: 1px 0;
    margin: 0;
    display: block;
    padding-bottom: 2px;
    font-weight: bold; }
  /* line 288, ../../../app/stylesheets/base.sass */
  body .form label.right {
    text-align: right; }
  /* line 291, ../../../app/stylesheets/base.sass */
  body .form label.checkbox, body .form label.radio {
    line-height: 1.5em; }
  /* line 295, ../../../app/stylesheets/base.sass */
  body .form input.text_field {
    font-size: 1.2em;
    padding: 1px 0;
    margin: 0;
    width: 100%;
    border-width: 1px;
    border-style: solid; }
  /* line 303, ../../../app/stylesheets/base.sass */
  body .form input.checkbox, body .form input.radio {
    margin-right: 5px; }
  /* line 306, ../../../app/stylesheets/base.sass */
  body .form textarea.text_area {
    font-size: 1.2em;
    padding: 1px 0;
    margin: 0;
    width: 100%;
    border-width: 1px;
    border-style: solid; }
  /* line 314, ../../../app/stylesheets/base.sass */
  body .form .fieldWithErrors .error {
    color: red; }
  /* line 318, ../../../app/stylesheets/base.sass */
  body ul.list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    /* line 323, ../../../app/stylesheets/base.sass */
    body ul.list li {
      clear: left;
      padding-bottom: 5px; }
      /* line 327, ../../../app/stylesheets/base.sass */
      body ul.list li .left {
        float: left; }
        /* line 330, ../../../app/stylesheets/base.sass */
        body ul.list li .left .avatar {
          width: 50px;
          height: 50px; }
      /* line 334, ../../../app/stylesheets/base.sass */
      body ul.list li .item {
        margin-left: 80px; }
        /* line 337, ../../../app/stylesheets/base.sass */
        body ul.list li .item .avatar {
          float: left;
          margin: 0 5px 5px 0;
          width: 30px;
          height: 30px; }
  /* line 343, ../../../app/stylesheets/base.sass */
  body .actions-bar {
    padding: 10px 1px; }
    /* line 346, ../../../app/stylesheets/base.sass */
    body .actions-bar .actions {
      float: left; }
    /* line 349, ../../../app/stylesheets/base.sass */
    body .actions-bar .pagination {
      float: right;
      padding: 1px 0; }
