- title t('title')

- slogan(quotation_generator("There is no higher religion than human service. To work for the common good is the greatest creed.", :author => "Woodrwo Wilson", :born => 1856, :died => 1924))

= render(:partial => "shared/tos")